PORT=3000
DB_DIALECT=sqlite
DB_STORAGE=./ledgerbox.db
# For postgres:
# DB_DIALECT=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=ledgerbox
# DB_USER=ledgerbox
# DB_PASS=changeme
JWT_SECRET=change-this-to-something-random
